<header class="header">
  <div class="jumbotron">
    <div class="container">
      <h1>Evan's Blogs</h1>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="main_content">
      <div class="blog">
	<h2><a href="#"><%= fa_icon "book" %> Octoblog</a></h2>
	<p>5devs Final Project</p>
	<button class="btn btn-primary btn-xs" >New Post</button>
	<button class="btn btn-danger btn-xs">Delete Blog</button>
      </div>
      <div class="post">
	<article class="blog_post">
	  <h2 class='blog_heading'>
	    <a href="#">This is a blog entry</a>
	    <small>
	      2013-11-13 
	      by <a href="#">Mark Tareshawty</a>
	    </small>
	  </h2>
	  <p>WASHINGTON — Just over 106,000 people picked health plans in the first month of open enrollment through the state and federal insurance marketplaces established by the Affordable Care Act, President Obama’s health secretary said Wednesday, a fraction of the administration’s initial estimate for enrollment during that period.
	  </p>
	</article>
      </div>
      <div class="blog">
	<h2><a href="#"><%= fa_icon "book" %> Blog Two</a></h2>
	<p>a blog made to test our user interface</p>
	<button class="btn btn-primary btn-xs" >New Post</button>
	<button class="btn btn-danger btn-xs">Delete Blog</button>
      </div>
<div class="post">
	<article class="blog_post">
	  <h2 class='blog_heading'>
	    <a href="#">This is in Latin</a>
	    <small>
	      2013-11-15 
	      by <a href="#">Evan Schaffner</a>
	    </small>
	  </h2>
	  <p>Est minim ipsum nam. Et est provident nam harum cillum. Excepteur molestias voluptas est labore magna dolor. Do odio maxime deserunt culpa harum id aliqua duis. Et voluptatum est laboris. Enim reprehenderit omnis deserunt eligendi vero consectetur magna. Et qui in incididunt praesentium praesentium in eiusmod. Cillum eligendi est ut quas. Quod enim quidem amet labore labore soluta elit. Ducimus aute nostrud lorem quod ut deserunt anim.

Qui dolorum dignissimos nihil. Sed et omnis officia cupidatat voluptate cumque. Adipisicing amet dolorum et ad dolore vero mollitia. Commodo enim in non similique. Qui cum excepteur et similique voluptate vero nobis. Et anim molestias eiusmod dolor exercitation duis possimus. Quos velit veniam veniam obcaecati eu ex ea nostrud. Qui eu ad molestias vero excepteur id. Et minim et sunt. Aute corrupti facilis sunt eu consectetur.
	  </p>
	</article>
      </div>
    </div>
  </div>
</div>
