<header id="info_bar">
  <div class="jumbotron">
    <div class="container">
      <h1>Blog with GitHub</h1>
      <p>Promote your GitHub projects</p>
      <%= link_to '/auth/github/', class: "btn btn-default" do %>
      <%= fa_icon "github" %>
      Sign in with GitHub
      <% end %>
    </div>
  </div>
</header>
