<header id="info_bar">
  <div class="jumbotron">
    <div class="container">
      <h1>Blog with GitHub</h1>
      <p>Promote your GitHub projects</p>
      <%= link_to '/auth/github/', class: "btn btn-default" do %>
      <%= fa_icon "github" %>
      Sign in with GitHub
      <% end %>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="column">
      <h1>What</h1>
      <h2>is OctoBlog?</h2>
      <p>OctoBlog is a blog platform that allows users to create a blog about their GitHub repositories. Users are able to write posts and read the blogs of users they follow.</p>
    </div>
    <div class="column">
      <h1>Why</h1>
      <h2>OctoBlog?</h2>
      <p>Sign in to OctoBlog using your GitHub OAuth credentials; there is no need to create another account. Also, all repository blogs can be hosted on one site.
    </div>
    <div class="column">
      <h1>Who</h1>
      <h2>made OctoBlog?</h2>
      <p>We are 5devs, a small team of dedicated developers who share two things: a passion for problem-solving, and a commitment to excellence.
    </div>
  </div>
</div>

