<header class="header">
  <div class="jumbotron">
    <div class="container">
      <h1>Members</h1>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="main_content">
      <div class="row">
	<ul class="media-list members">
	  <li class="media member">
	    <a class="pull-left">
	      <img class="media-object" src="http://placehold.it/391x391"/>
	    </a>
	    <div class="media-body">
	      <h4 class="media-heading"><a href="#">Evan Schaffner</a></h4>
	      <p>@EvanSchaffner</p>
	      <p class="stats"><%= fa_icon "book"%> 4</p>
	    </div>
	  </li>
	  <li class="media member">
	    <a class="pull-left">
	      <img class="media-object" src="http://placehold.it/391x391"/>
	    </a>
	    <div class="media-body">
	      <h4 class="media-heading"><a href="#">Evan Schaffner</a></h4>
	      <p>@EvanSchaffner</p>
	      <p class="stats"><%= fa_icon "book"%> 4</p>
	    </div>
	  </li>
	  <li class="media member">
	    <a class="pull-left">
	      <img class="media-object" src="http://placehold.it/391x391"/>
	    </a>
	    <div class="media-body">
	      <h4 class="media-heading"><a href="#">Evan Schaffner</a></h4>
	      <p>@EvanSchaffner</p>
	      <p class="stats"><%= fa_icon "book"%> 4</p>
	    </div>
	  </li>
	  <li class="media member">
	    <a class="pull-left">
	      <img class="media-object" src="http://placehold.it/391x391"/>
	    </a>
	    <div class="media-body">
	      <h4 class="media-heading"><a href="#">Evan Schaffner</a></h4>
	      <p>@EvanSchaffner</p>
	      <p class="stats"><%= fa_icon "book"%> 4</p>
	    </div>
	  </li>
	</ul>
      </div>
    </div>
  </div>
</div>
