<div class='container'>
    <div class='row'>
        <div class='main_content'>
            <form>
                <textarea id='trevor'></textarea>
            </form>
        </div>

    </div>
</div>
<script>
    OctoBlog.Editor.start($('#trevor'));
</script>
