<div class="header">
  <div class="jumbotron">
    <div class="container">
      <h1><a href="#">tarebyte</a> / <a href="#">OctoBlog</a></h1>
      <p>5devs Final Project.</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="content_wrapper">
      <div class="blog_content">
	<div class="row">
	  <h2><a href="#">This is a blog entry</a><br>
	  <small>2013-11-13 by @tarebyte</small></h2>
	  <p> WASHINGTON — Just over 106,000 people picked health plans in the first month of open enrollment through the state and federal insurance marketplaces established by the Affordable Care Act, President Obama’s health secretary said Wednesday, a fraction of the administration’s initial estimate for enrollment during that period. </p>
	  <h2><a href="#">This is a blog entry</a><br>
	  <small>2013-11-13 by @tarebyte</small></h2>
	  <p> WASHINGTON — Just over 106,000 people picked health plans in the first month of open enrollment through the state and federal insurance marketplaces established by the Affordable Care Act, President Obama’s health secretary said Wednesday, a fraction of the administration’s initial estimate for enrollment during that period. </p>
	</div>
      </div>
    </div>
  </div>
</div>
<div class="sidebar">
</div>
