<div class="repo">
    <h2>
        <%= link_to user_repo_posts_path(repo.user.slug, repo.name) do %>
            <%= fa_icon "book" %> <%= repo.name%>
        <% end %>
    </h2>
    <p>Project description</p>
</div>
