<% replace :page_header do %>
    <h1><%=link_to @user.name, user_repos_path(@user) %></h1>
<% end %>
<% replace :main_content do %>
    <%= render partial: "repo", :collection => @repos, locals: {user: @user} %>
<% end %>
