<%= render "header" %>
<% replace :main_content do %>
    <% if @repos.count > 0 %>
        <%= render partial: "repo", :collection => @repos %>
    <% else %>
        <p><%= @user.username %> has not added any repositories yet.</p>
    <% end %>
<% end %>
<%= render "sidebar" %>
