<% title "Projects" %>
<% replace :page_header do %>
    <h1>Projects</h1>
<% end %>
<% replace :main_content do %>
    <% if @repos.count > 0 %>
        <%= render partial: "repo", :collection => @repos %>
    <% else %>
        <p>No repositories have been added yet.</p>
    <% end %>
<% end %>
