$base-font-family: $font-family-base;
$base-font-family-dark: $base-font-family;

$text-block-font-size: $font-size-base;

$text-block-font-color: $text-color;
$accent-color: $brand-info;
$base-ui-color: $brand-primary;
$light-ui-color: #CCCCCC;
$blocks-control-bg-color: #F3F3F3;
$error-color: $brand-danger;

$inner-block-padding: 0 0;

$block-controls-height: 10px;
$block-add-height: 40px;

