<% replace :page_header do %>
    <h1><%=link_to @user.name, user_repos_path(@user) %> /
        <%= link_to @repo.name, user_repo_posts_path(@user, @repo.name) %>
    </h1>
    <p>Project description</p>
<% end %>
