<% replace :sidebar do %>
  <h2>
    <%= @user.username %>'s <%= "project".pluralize(@user.repos.count) %>
  </h2>
  <ul class='list-unstyled'>
    <% @user.repos.each do |repo| %>
      <li>
      <%= link_to repo.name, user_repo_posts_path(@user, repo.name) %>
      </li>
    <% end %>
  </ul>
<% end %>

