<% replace :sidebar do %>
  <h2>
    <%= @user.username %>'s <%= "project".pluralize(@user.repos.count) %>
  </h2>
  <div class='list-group'>
    <% @user.repos.each do |repo| %>
        <%= link_to repo.name, user_repo_posts_path(@user, repo.name),
            class: 'list-group-item'
        %>
    <% end %>
  </div>

  <ul class='list-unstyled'>
      <li>
      </li>
  </ul>
<% end %>

