@import "_variables";

@import "bootstrap";

// Base styles
// --------------------------

body {
    background-image: image-url("knitting250px.png");
}

// No underline for links in headings
h1, h2, h3, h4, h5, h6 {
    a:hover {
        text-decoration: none;
    }
}

pre > code {
    font-size: 14px;
}
pre {
    padding: 0;
}
