.repo {
    h2 {
        margin-bottom: 0px;
    }
    .stats {
        display: block;
        color: gray;
    }
    p {
        margin-bottom: 6px;
    }
}
.post {
    padding-left: 30px;
    h2 {
        font-size: 1.5em;
    }
    small {
        font-size: .5em;
    }
    p {
        font-size: .9em;
    }
}
