<footer>
  <div class="container">
    <div class="row">
      <div id="copyright_message">
        &copy; 2013 5Devs. All rights reserved.
      </div>
      <div id="footer_links">
        <%= link_to "See the source code here.", "https://github.com/tarebyte/OctoBlog" %>
      </div>
    </div>
  </div>
</footer>

