<footer>
  <div class="container">
    <div class="row">
      <div id="copyright_message">
        &copy; 2013 5Devs. All rights reserved.
      </div>
      <div id="footer_links">
        Here are some links.
      </div>
    </div>
  </div>
</footer>

