<header class="header">
    <div class="jumbotron">
        <div class="container">
            <h1><a href="#">tarebyte</a> / <a href="#">OctoBlog</a></h1>
            <p>5devs Final Project.</p>
        </div>
    </div>
</header>
