<aside class="sidebar">
  <h2>tarebyte's Projects</h2>
  <ul class="unstyled">
    <li><a href='#'>Project 40</a></li>
    <li><a href='#'>Project 1</a></li>
    <li><a href='#'>Project 55903</a></li>
  </ul>
</aside>
